_NCrunch*
_ReSharper*/
_UpgradeReport_Files/
![Ss]tyle[Cc]op.targets
!packages/repositories.config
.builds
.consulo/
.DS_Store
.gradle/
.vs/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Oo]bj/
[Rr]elease/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult*/
*_i.c
*_i.h
*_p.c
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.aab
*.apk
*.app
*.aps
*.azurePubxml
*.booproj
*.build.csdef
*.Cache
*.cachefile
*.dbmdl
*.DotSettings.user
*.gpState
*.ilk
*.log
*.log
*.mdb
*.mdb.meta
*.meta
*.ncb
*.obj
*.opendb
*.opensdf
*.pch
*.pdb
*.pdb
*.pdb.meta
*.pgc
*.pgd
*.pidb
*.pidb
*.pidb.meta
*.psess
*.Publish.xml
*.publishsettings
*.pubxml
*.rsp
*.sbr
*.scc
*.sdf
*.sln
*.sln.docstates
*.suo
*.suo
*.svclog
*.svd
*.tlb
*.tlh
*.tli
*.tmp
*.tmp
*.tmp_proj
*.unitypackage
*.unityproj
*.user
*.user
*.userprefs
*.VC.db
*.vsp
*.vspscc
*.vspx
*.vssscc
*~
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
/[Aa]ssets/Plugins/Editor/JetBrains*
/[Bb]uild/
/[Bb]uilds/
/[Ll]ibrary/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Oo]bj/
/[Rr]ecordings/
/[Tt]emp/
/[Uu]ser[Ss]ettings/
~$*
$RECYCLE.BIN/
App_Data/*.ldf
App_Data/*.mdf
AppPackages/
Backup*/
ClientBin/
crashlytics-build.properties
csx/
Desktop.ini
ehthumbs.db
ExportedObj/
Generated_Code/
ipch/
packages/
publish/
sql/
sysinfo.txt
Thumbs.db
UpgradeLog*.htm
UpgradeLog*.XML
x64/